# MongoDB Atlas Cloud URI Connection String
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/flyrent

# JWT Secret Key for Session Tokens
SECRET_KEY=flyrent-super-secret-jwt-key-2026
